# Unsupervised Machine Learning for the Classification of Astrophysical X-ray Sources
###### *Víctor Samuel Pérez Díaz<sup>1,2</sup>, Rafael Martinez-Galarza<sup>1</sup>, Alexander Caicedo-Dorado<sup>3</sup>, Raffaele D'Abrusco<sup>1</sup>*

*1. Center for Astrophysics | Harvard & Smithsonian, 2. Universidad del Rosario, 3. Pontificia Universidad Javeriana*

Contact ```vperezdiaz@cfa.harvard.edu``` for questions or comments.


#### Playground

---

#### Aladin

In [1]:
import pandas as pd
from ipyaladin import Aladin
from umlcaxs_lib import extract_sources_aladin

In [30]:
df_class_confident_with_coords = pd.read_csv('./out_data/agreeing_class_coords.csv')
df_classified_cscs = pd.read_csv('./out_data/classified_cscs.csv', index_col=0).sort_values(by='name')

ltypes = ['QSO', 'AGN', 'Seyfert_1', 'Seyfert_2', 'HMXB', 'LMXB', 'XB', 'YSO', 'TTau*', 'Orion_V*']
agg_types = ['AGN', 'Seyfert', 'XB', 'YSO']

#df_class_confident_with_coords = df_class_confident.merge(df_classified_cscs[['name', 'ra', 'dec']].drop_duplicates('name'), on='name', how='left')

In [31]:
a = Aladin(target='190.9166250 +11.5527222', fov=30, survey='P/allWISE/color')
#a = Aladin(target='NGC 4649', fov=30, survey='P/allWISE/color')
a

Aladin(fov=30.0, options=['allow_full_zoomout', 'coo_frame', 'fov', 'full_screen', 'log', 'overlay_survey', 'o…

In [25]:
source_type = 'AGN'
q_res_astro = extract_sources_aladin(df_class_confident_with_coords, source_type, agg_type=True)
a.add_table(q_res_astro[['name', 'ra', 'dec']])

2322 source detections found of aggregated class AGN

In [27]:
source_type = 'Seyfert'
q_res_astro = extract_sources_aladin(df_class_confident_with_coords, source_type, agg_type=True)
a.add_table(q_res_astro[['name', 'ra', 'dec']])

1141 source detections found of aggregated class Seyfert

In [34]:
source_type = 'YSO'
q_res_astro = extract_sources_aladin(df_class_confident_with_coords, source_type, agg_type=True)
a.add_table(q_res_astro[['name_1', 'ra', 'dec']])

2277 source detections found of aggregated class YSO

In [35]:
source_type = 'XB'
q_res_astro = extract_sources_aladin(df_class_confident_with_coords, source_type, agg_type=True)
a.add_table(q_res_astro[['name_1', 'ra', 'dec']])

2525 source detections found of aggregated class XB

In [36]:
df_classified_cscs[df_classified_cscs.name == '2CXO J124355.0+113307']

,name,obsid,cluster,main_type,QSO,AGN,Seyfert_1,Seyfert_2,HMXB,LMXB,...,R_simbad,J,H,K,u,g,r_simbada,i,z,angDist
8616,2CXO J124355.0+113307,12975,5,QSO,0.973166,0.000259,0.010302,0.000162,0.007413,0.006568,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
df_class_confident_with_coords[df_class_confident_with_coords.name_1 == '2CXO J124355.0+113307']

,name_1,agg_master_class,master_class,detection_count,Orion_V*,QSO,AGN,Seyfert_1,Seyfert_2,HMXB,...,kp_prob_m,kp_prob_s,gti_start,gti_stop,gti_elapse,var_ratio_b,var_ratio_h,var_ratio_s,var_newq_b,cluster
6975,2CXO J124355.0+113307,AGN,QSO,1,0.0Â±0.001,0.0Â±0.973,0.0Â±0.0,0.0Â±0.01,0.0Â±0.0,0.0Â±0.007,...,0.373061,0.461529,4.291769e+08,4.292630e+08,86052.90066,0.017879,0.089695,0.083362,1.071575,5

In [21]:
df_class_confident[df_class_confident.name == '2CXO J124355.0+113307']

,name,agg_master_class,master_class,detection_count,Orion_V*,QSO,AGN,Seyfert_1,Seyfert_2,HMXB,LMXB,XB,YSO,TTau*
6975,2CXO J124355.0+113307,AGN,QSO,1,0.0±0.001,0.0±0.973,0.0±0.0,0.0±0.01,0.0±0.0,0.0±0.007,0.0±0.007,0.0±0.0,0.0±0.001,0.0±0.0